@model IEnumerable<UniShop.Web.ViewModels.ChildCategories.ChildCategoryViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-offset-4 col-md-4">
        <div class="text-center ">
            <h2 class="text-white font-weight-bold text-center  mx-auto rounded-lg ">Подкатегории</h2>
        </div>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Име
            </th>
            <th>
                Основна категория
            </th>
            <th>
                Брой продукти в подкатегорията
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountOfProducts)
            </td>
            <td class="col-md-3 d-flex justify-content-around">
                <button class="btn" style="background-color:coral"><a href="">Промени</a></button>
                <button class="btn btn-danger"><a href="">Изтрий</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
