
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Контакти</h2>
<p>
    Как да ни намерите
    Унишоп България ЕАД
    Централен офис:

    София 1766, Младост 4, Околовръстен път 5 (срещу “Камбаните”)


    МАГАЗИНИ В СТРАНАТА


    Национален телефон на потребителя
    070012340
    (На цената на един градски разговор при обаждане от цялата страна от стационарен телефон.
    При обаждане от мобилен телефон цената на разговора е според тарифния план.)


    E-mail
    eshop@uniShop.bg
</p>

