
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-4 col-md-4">
    <div class="text-center ">
        <h2 class="text-white font-weight-bold text-center  mx-auto rounded-lg ">Контакти</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-3">
        <hr />
        <div><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i><font size="4"> 089 654 2345</font></div>
        <div><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><font size="4"> unishop.abg@abv.bg</font></div>
        <div><i class="fa fa-skype fa-2x" aria-hidden="true"></i> <font size="4">UniShopBg</font></div>
        <hr />
    </div>
</div>
