
@{
    ViewData["Title"] = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-4 col-md-4">
    <div class="text-center ">
        <h2 class="text-white font-weight-bold text-center  mx-auto rounded-lg ">За нас</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <hr />
        <p>UniShop стартира през 2019г.</p>

        <p>UniShop стреми да предлага на свойте клиенти възможно най-голямо разнообразие от продукти.</p>

        <p>UniShop се стреми винаги да бъде в крак с времето и непрекъснато обновява продуктите, които предлага, за да отговорят най-точно на желанията на потребителите.</p>

        <p>Нашите корпоративни ценности са:</p>
        <p>Коректност</p>
        <p>Ние сме коректни към нашите клиенти. Стремим се винаги да изпълняваме обещанията, които сме направили.</p>
        <p>Точност</p>
        <p>Нашия стремеж е да изпълняваме всички поръчки точно, както са зададени.</p>
        <p>Стремим се информацията в сайта ни да е максимално точна</p>
        <p>Точността на доставките ни е над 99.5%.</p>
        <p>Сигурност</p>
        <p>Ние извършваме сигурни доставки.</p>
        <p>Бързина</p>
        <p>Нашия стремеж е да изпълняваме нашите обещания точно навреме, максимално бързо.</p>
        <hr />
    </div>
</div>


