
@{
    ViewData["Title"] = "PackageDelivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Доставка На поръчките</h2>
<p>
    Моля следете поръчките във Вашите профили, в момента всички куриери с които извършваме доставки са претоварени и обслужват адресите и офисите за доставка със закъснение.

    Поръчаните продукти, предлагани от UniShop, се доставят в цялата страна, чрез куриер на Econt, Рапидо или Европът до вратата на посочения от получателя адрес. За целта получателят следва да посочи етажа, до който продуктите следва да бъдат доставени в полето за адреса в електронния формуляр на UniShop.bg, определено за това. В противен случай, доставаката ще бъде извършена до сградата, посочена като адрес за доставка. Поръчки до офис на куриера се доставят само от куриерски фирми Еконт и Рапидо. Клиентът няма възможност да избере доставчика, с когото UniShop работи, за да бъде доставен поръчания продукт.

    Вече извършваме доставка и до офиси на Български пощи на продукти, предлагани от UniShop. Доставката се извършва само до определени офиси, посочени на сайта, които са из цялата страна.

    Продуктите са в оригиналната си запечатана опаковка от производителя с изключение на разопакованите продукти.
</p>

