@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="col-md-offset-4 col-md-4">
    <div class="text-center ">
        <h2 class="text-white font-weight-bold text-center  mx-auto rounded-lg ">Общи условия</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <hr />
       <p>Чрез регистрацията на Поръчка в сайта, Купувачът се съгласява по телефона или имейл да заяви желанието си да получи съответната Стока от Продавача срещу заплащане.</p>

        <p>Продавачът ще Ви изпрати уведомление за регистриране на Поръчката в системата му, което няма смисъла на приемане, потвърждаване или поемане на ангажимент за изпълнението й. Това уведомление Продавачът прави по електронен път (имейл) или по телефона.</p>

        <p>В този смисъл Продавачът има правото да не достави част или всички Стоки или да не изпълни част или всички Услуги от Поръчката по свое усмотрение включително, но не само поради изчерпване на складовата им наличност или промяна на цената. При всички случаи Продавачът уведомява за това Клиента чрез имейл или по телефона. При това положение единствената отговорност на Продавача е да върне евентуално получената предварително цена на Стоката или Услугата.</p>

         <p>Договорът за покупко-продажба от разстояние между Продавача и Клиента се смята за сключен към момента на получаването от страна на Клиента на електронната му поща и/или чрез SMS, изпратен на телефoна му на уведомление от страна на Продавача, че потвърждава поръчката и е готов да изпрати Стоката от Поръчката или да предостави Услугата.</p>
        <hr />
    </div>
</div>