
@{
    ViewData["Title"] = "ReturnShipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-4 col-md-4">
    <div class="text-center ">
        <h2 class="text-white font-weight-bold text-center  mx-auto rounded-lg ">Връщане на продукти</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <hr />
        В UniShop можеш не само да купуваш лесно, но и да връщаш лесно продукти. Ако не си доволен от закупения продукт, независимо от причината, можеш да се откажеш от договора, сключен от разстояние в рамките на 30 дни от доставката му.
        Начинът, по който да направиш това, зависи от теб. UniShop ти предоставя възможност да връщаш продуктите като се свържеш с нас на посочените контакти. Транспортните разходи за връщане се поемат от нас, без значение от големината и вида на продукта.
        Преди да върнеш даден продукт, се увери че няма никакви щети ,за да получиш парите си обратно!
        <hr />
    </div>
</div>

