
@{
    ViewData["Title"] = "Warranty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Гаранция</h2>
<p>
    Процедура за осигуряване на гаранцията

    1.    Приемането в сервизен център
    Дефектните продукти, изпратени към сервиза чрез услугата “Поправка на продукт” трябва да бъдат придружени задължително с номер на сервизен формуляр, който ще получиш след попълването на “Формуляр поправка на продукт”
    Прочети инструкциите, отнасящи се за тази услуга “Поправка на продукт”.

    2.    Диагностика и поправка
    eMAG поема отговорност да уведоми бенефициента за диагностиката, поправката, която ще бъде извършена, както и приблизителния срок за въвеждането в експлоатация на продукта до максимум 30 календарни дни от приемането на продукта.
    Видовете поправителни дейности могат да бъдат: ремонт на продукта, частичното или пълно заменяне, а дори и възвръщането на стойността на продукта при липса на други решения.

    За продукти от категорията Бяла техника ще те посети наш партньор и представител на фирма PAN Service, на посочения адрес във Формуляра за поправка. За допълнителни детайли и уточнение ще се свържем с теб на предоставения телефонен номер.

    3.    Връщане на продукт

    След поправка на продукта се изпраща по куриер с експресна доставка и ще бъдеш уведомен, чрез и-мейл и СМС за доставката.
    Периодът, в който продуктът е бил в нефункционалност, се добавя към съответния период на гаранция. Този интервал се смята от момента на регистрирането в сервизния център до въвеждането на продукта в нормално за експлоатация състояние и писменото потвърждение за вземането на продукта.
</p>