
@{
    ViewData["Title"] = "Warranty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-4 col-md-4">
    <div class="text-center ">
        <h2 class="text-white font-weight-bold text-center  mx-auto rounded-lg ">Гаранция</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <hr />
        Процедура за осигуряване на гаранцията

        1.    Приемането в сервизен център
        Дефектните продукти, изпратени към сервиза чрез услугата “Поправка на продукт” трябва да бъдат придружени задължително с номер на сервизен формуляр,
        който ще получиш след като се свържеш с нас на посочените контакти.

        2.    Диагностика и поправка
        UniShop поема отговорност да уведоми бенефициента за диагностиката, поправката, която ще бъде извършена,
        както и приблизителния срок за въвеждането в експлоатация на продукта до максимум 30 календарни дни от приемането на продукта.
        Видовете поправителни дейности могат да бъдат: ремонт на продукта, частичното или пълно заменяне, а дори и възвръщането на стойността на продукта при липса на други решения.

        3.    Връщане на продукт

        След поправка на продукта се изпраща по куриер с експресна доставка и ще бъдеш уведомен, чрез и-мейл и СМС за доставката.
        Периодът, в който продуктът е бил в нефункционалност, се добавя към съответния период на гаранция. 
        Този интервал се смята от момента на регистрирането в сервизния център до въвеждането на продукта в нормално за експлоатация състояние и писменото потвърждение за вземането на продукта.
        <hr />
    </div>
</div>

